
<nav class="navbar navbar-light bg-primary ">
  <a class="navbar-brand text-light ms-3">
    <fa-icon [icon]="['fab', 'youtube']" [styles]="{ stroke: 'white', color: 'white' }"></fa-icon>
    Youtube 相關工具
  </a>
  <form class="form-inline">
    <a href="https://github.com/crispyWei/youtube-comments" target="_blank" class="btn btn-primary border-0 rounded-0 p-0 me-3">
      <fa-icon [icon]="['fab', 'github']" [styles]="{ stroke: 'white', color: 'white' }"></fa-icon>
      <span>GitHub</span>
    </a>
  </form>
</nav>
<div class="container">
  <h1 class="mt-4 text-dark">Youtube 留言查詢</h1>
  <p class="lead">一個找尋Youtube留言功能，透過關鍵字找尋是否有惡意文字進行篩選，目前只有特定文字收尋，之後會加入自動篩選功能。</p>
  <hr>
  <div class="row mt-4">
    <div class="col">
      <div class="form-group">
        <label class="h5 text-muted">影片網址</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=XXXXXXXXXXX" aria-label="" aria-describedby="basic-addon2" #youtubeUrl name="youtubeUrl" id="youtubeUrl" [(ngModel)]="defaultYoutubeUrl">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="getCommentsBtn(youtubeUrl.value)" [disabled]="!defaultYoutubeUrl">抓取留言</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="h5 text-muted">留言內容</label>
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="addon-wrapping" [(ngModel)]=filterWord>
        </div>
      </div>
    </div>
  </div>
  <app-comments-list [channels]="channels" [filterWord]="filterWord"></app-comments-list>
</div>